.tooltip {
  z-index: 5;
}

.simple__tooltip {
  margin-left: 20px;
  width: 300px;
  padding: 5px 11px;
  background: beige;
  border: 1px solid black;
  box-shadow: 0.3rem 0.3rem rgba(42, 53, 79, 0.9);
}